.chat {
    padding: 1rem;
    .chat__textarea {
        justify-self: center;
        textarea {
            resize: none;
            padding: 0.5em;
        }
    }

    .chat_button {
        // justify-self: center;
        padding: 0.5em;
        height: fit-content;
    }

    .message_container {
        .message_user {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 700;
            color: var(--text-color--black);
        }
    }
}